<!--The content below is only a placeholder and can be replaced.-->
    
<div style="text-align:center">
    
    <pre>
      </pre>
    <form method="post" enctype="multipart/form-data" form #f="ngForm">
      <input type="file" name="filetoupload" #fd="ngModel" [(ngModel)]="teste.arquivo" (change)="fileChange($event)"><br>
      <span  class="input-group-text upload"  (click)="upload()"  id="btnUpload">Upload</span>

      <input type="submit">
    </form>
<!-- <router-outlet></router-outlet> -->




